.message {
    margin: 10px 0;
    max-width: 80%;
    padding: 8px 15px;
    border-radius: 15px;
    position: relative;
    clear: both;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.message.inbound {
    float: left;
    background-color: #f0f7ff;
    margin-right: auto;
}

.message.outbound {
    float: right;
    background-color: #f5f5f5;
    margin-left: auto;
}

.message.inbound.event {
    background-color: rgb(219, 237, 176);;
}

.message.outbound.message.event {
    background-color: rgb(219, 237, 176);;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(42, 42, 46);
    margin-bottom: 4px;
    gap: 10px;
}

.message-content {
    margin: 0;
    word-wrap: break-word;
}

.status-icon {
    width: 16px;
    height: 16px;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    fill: rgb(42, 42, 46);
    display: block;
}

.time {
    color: #666;
    font-size: 12px;
}

.user-initials {
    background-color: #4a5568;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-left: 8px;
}

#attributesTable {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

#attributesTable th, #attributesTable td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#attributesTable th {
    background-color: #f5f5f5;
    font-weight: bold;
}

#attributesTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#loadingMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}
#content {
    display: none;
}

.sound-control {
    padding: 10px;
    background-color: #f5f5f5;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-left: auto;
}

.sound-control label {
    margin-left: 5px;
    font-family: "Noto Sans", sans-serif;
    font-size: 1em
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-container h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.6em;
}