table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f5f5f5;
    padding: 8px 16px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#searchBox {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

.sortable {
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}

.sortable:hover {
    background-color: #f5f5f5;
}

.sort-asc::after {
    content: "▲";
    position: absolute;
    right: 5px;
}

.sort-desc::after {
    content: "▼";
    position: absolute;
    right: 5px;
}

#monitoredChatsTable th {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: left;
}

#refreshButton {
    padding: 5px 15px;
    height: fit-content;
}

.header-container {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(209 215 249);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #eee;
}

.logo-title-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-logo {
    height: 40px; 
    width: auto;
    object-fit: contain;
}

.header-container h1 {
    margin: 0;
    font-size: 1.5em;
    white-space: nowrap;
    padding-left: 150px;
    /* padding-right: 50px; */
}

.filter-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}
